
<h1>Upcoming Event</h1>

<% today = Date.today

comps = Competition.where("starting_date <= ? ", today+7).where("ending_date >= ?", today)
%>

<ul>
<% comps.each {|comp| %>
  <li><%=h comp.starting_date.strftime("%d%b%Y") %> - <a href="/competition/<%=h comp.key %>"><%=h comp.name %></a></li>
<% } %>
</ul>

<hr>

<h1>Contents</h1>

<ul>
  <li><a href="/competitions">Competition List</a>
  <li><a href="/calendar">Calendar</a>
  <li><a href="/skaters">Skater List</a>
</ul>

<hr>

<h1>Links</h1>

<h2>Official Sites</h2>
<ul>
  <li><a href="http://www.isu.org" target="_blank">ISU</a>
  <li><a href="http://skatingjapan.or.jp/" target="_blank">Japan Skating Federation</a>
    <ul>
      <li><a href="http://www.jsfresults.com/figure_mainframe.htm" target="_blank">Results</a>
    </ul>
</ul>

<h2>User Sites</h2>
<ul>
  <li><a href="http://deep-edge.net" target="_blank">deep-edge: figure skating memo</a>
  <li><a href="http://figure2.me" target="_blank">figure2me: Search Link Figure Skating</a>
</ul>
