<h1>Skaters</h1>


<h2>World Standings (ISU site)</h2>
<ul>
  <li><a href="http://www.isuresults.com/ws/ws/wsmen.htm">Men</a>
  <li><a href="http://www.isuresults.com/ws/ws/wsladies.htm">Ladies</a>
  <li><a href="http://www.isuresults.com/ws/ws/wspairs.htm">Pairs</a>
  <li><a href="http://www.isuresults.com/ws/ws/wsdance.htm">Ice Dance</a>
</ul>

<h2>Biographies</h2>

<ul>
  <li><a href="http://www.isuresults.com/bios/fsbiosmen.htm">Men</a>
  <li><a href="http://www.isuresults.com/bios/fsbiosladies.htm">Ladies</a>
  <li><a href="http://www.isuresults.com/bios/fsbiospairs.htm">Pairs</a>
  <li><a href="http://www.isuresults.com/bios/fsbiosdance.htm">Ice Dance</a>
</ul>

<h2>Skater Info (in-site)</h2>

<ul>
  <li>
</ul>

